h1{
text-align: center;
color: white;
}

body{
background-image: url(/images/fon2.jpg) ;
background-attachment: scroll;
color: #fff700 ;
}

table {
	border-spacing: 45px 5px;
	/*Цей пункт добавляє границі по периметру border-collapse: separate;*/
	/*Цей пункт добавляє полоску в 1 піксель border: 1px solid red;*/
    margin: auto;
}

td {
	text-align: center;
    font-size: 110%;
    word-spacing: normal;
}

a{
color: rgb(141, 240, 220);
text-align: center;
}

thead{
font-size: 115%;
}

h2{
	letter-spacing: 2px;
	text-align: center;
    color: #fff700;
}

header{
text-align: center;
/*background-color: bisque;*/
}

#prapor {
    width: 200px;
    background-image: url('/images/prapor2.png');
    background-size: cover;
    animation: wave 4s infinite ease-in-out alternate;
}

@keyframes wave {
    0% {
        transform: skewX(0deg) translateY(0);
    }
    25% {
        transform: skewX(-15deg) translateY(-1%);
    }
    50% {
        transform: skewX(15deg) translateY(-1%);
    }
    75% {
        transform: skewX(-15deg) translateY(-1%);
    }
    100% {
        transform: skewX(0deg) translateY(0);
    }
}

footer{
text-align: center;
}

.dropdowns {
    display: flex; /* Вирівнює випадаючі списки в ряд */
    justify-content: center;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 25px; /* Відстань між списками */
}

.dropdown-text {
    cursor: pointer;
    color: #e8bbfb;
    text-decoration: underline;
    font-size: large;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #acacac;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 8px; /* Заокруглення країв списку */
    overflow: hidden; /* Сховати кути, якщо елементи виходять за межі */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #ccc; /* Лінія між пунктами */
}

.dropdown-content a:last-child {
    border-bottom: none; /* Сховати лінію для останнього елемента */
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

th{
color: #ffe600;
}
